<html>
<script>
var threeFunction = function() {return 3;};

</script>
<body>
<h1>JS functions </h1>
<h3>Video 13</h3>



<h2>Named Functions</h2>
function functionName() {//some code;}; </div>
to call:<div/>
functionName(); <div/>
blah blah, basic JS crap
<h2>anon functions</h2>
function(){//code; return val;}<div/>
var anonFunction = function() {code;return val};<div/>
to call anon assigned to a variable:</div>
anonFunction();
<h2>functions as variables</h2>
function functionOne(function3){
	return x;
}; <div/>
functionOne(threeFunction);

</body>
<script type="javascript">
var threeFunction = function() {return 3;};
d3.select("body").append("hr");

</script>


</html>