<html>
<body>
<h1>Fundamentals of SVG </h1>
<div>
svg is scalable vector graphics
<p>
defined in xml, can be styled by css
</p>
</div>
<div>
HTML5 - javascript art, 2d bitmap, rastor-based 
</div>
<div>
svg - creates dom, can attach events
</div>
<div>
 svg is defined within the tags of < svg >
</div>
<table>
	<tr>
		<th>shape</th>
		<th>output</th>
	</tr>
    <tr>
    	<td>rectangle</td>
    	<td><svg width="50" height="50">
    		<rect x="0" y="0" width="35" height="25"/>
    	</svg></td>
    </tr>
     <tr>
    	<td>circle</td>
    	<td><svg width="50" height="50">
    		<circle cx="25" cy="25" r="5"/>
    	</svg></td>
    </tr>
     <tr>
    	<td>ellipse</td>
    	<td><svg width="50" height="50">
    		<ellipse cx="25" cy="25" rx="5" ry="10"/>
    	</svg></td>
    </tr>
     <tr>
    	<td>straight line</td>
    	<td>
    		<svg width="50" height="50">
    			<line x1="25" y1="10" x2="25" y2="50" stroke="red" stroke-width="5"/>
    		</svg>
    	</td>
    </tr>
     <tr>
    	<td>polyline</td>
    	<td>
    		<svg width="50" height="50">
    		<polyline fill="none" stroke="red" stroke-width="2" points="05,30 15,30 15,20" />
    			
    		</svg>
    	</td>
    </tr>
   <tr>
    	<td>polygon</td>
    	<td>
    		<svg width="50" height="50">
    			<polygon fill="yellow" stroke="red" stroke-width="2" points="05,30 10,35, 20,40 30,50 20,30"/>
    		</svg>
    	</td>
    </tr>
      
</table>
</body>




</html>