<html>
<head>
</head>
<body>
	<h1>The data:</h1>
	<div class="scopedVar"><%= @randAct.to_json %></div>
	<div class="manipulateJson"></div>
	<div class="visualizeRect"></div>
	
</body>
<script>
//d3.select("body").remove("svg");
var svgContainer = d3.select("body").select(".visualizeRect").append("svg").attr("width","1000").attr("height","10000");

var rectangles = <%=raw  @action_info.to_json%>;
var svgRectangles = svgContainer.selectAll("rect").data(rectangles).enter().append("rect");
svgRectangles.attr("x", function(d,i){return d.id * 3 ;})
					.attr("y", function(d,i){return d.action_number * i ;})
					.attr("width", function(d,i){return d.total_action;})
					.attr("height", function(d,i){return d.accession_number*10;})
					;
					//.style("fill", function(d,i){return d.fill;});
</script>

</html>
